<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pirates</title>
</head>
<body>
  <h2>Pirates Form</h2>
  <form action="/pirates" method="post">
    <input type="text" name="[pirates][name]"/>
  </form>
</body>
</html>