<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pirates</title>
</head>
<body>
  <h2>Pirates Form</h2>
  <form action="/pirates" method="post">
    
    <p>Pirate:</p>
    <input type="text" name="[pirate][name]"   placeholder="Enter name"  /><br>
    <input type="text" name="[pirate][weight]" placeholder="Enter weight"/><br>
    <input type="text" name="[pirate][height]" placeholder="Enter height"/>
    
    <p>Ship 1:</p>
    <input type="text" name="[pirate][ship][][name]"  id="1"/><br>
    <input type="text" name="[pirate][ship][][type]"  id="1"/><br>
    <input type="text" name="[pirate][ship][][booty]" id="1"/>
    
    <p>Ship 2:</p>
    <input type="text" name="[pirate][ship][][name]"  id="2"/><br>
    <input type="text" name="[pirate][ship][][type]"  id="2"/><br>
    <input type="text" name="[pirate][ship][][booty]" id="2"/>
    
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>
